@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Great+Vibes&display=swap');
body{
    background-color: blueviolet;
    background-image: url("../img/Transpo-nextgen_5.webp");
}
 h1{
    color: rgb(221, 29, 29);
    background-color: aqua;
    width: 400px;
    margin: auto;
    font-family: "Great Vibes", serif;
    font-weight: 400;
    font-style: normal;
    
      
 }
 h2{
    color: azure;
 }